:root {
    --background-dark-text-color: #474853;
    --main-text-color: #AAA0A0;
    --light-text-color: #C7C3C3;
    --button-text-green: #7AB0B0;
    --button-beige: #A38471;
    --stars-color: #D9D9D9;
    --text-font: Josefine Sans;
    --header-font: Syncopate;
    --logo-font: Audiowide;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0;
    background-color: var(--background-dark-text-color);
}

/* HEADER */

header {
    background-image: src="assets/mars.png";
}

a {
    font-family: var(--logo-font);
    color: var(--light-text-color);
}




